<div class = "Container">
<section>
<div class="photo">
  <img src="<%=application.profile.picture_url %>">
</div>
<div class = "Application">
  <div class="field">
    <h2>Name: <%=application.profile.first_name%> <%=application.profile.last_name%> </h2>
  </div>
