
<h1> My Applications </h1>


<% @user.applications.each do |application| %>
<h1>Opportunity Title: <%= link_to application.opportunity.title, edit_application_path(application) %></h1><br>
<h2>Opportunity Description: <%= application.opportunity.description %><h2><br>


<%end%>
