<% @opportunities.each do |opportunity| %>


<h1> <%= link_to opportunity.user.profile.first_name, opportunity_path(opportunity) %> </h1>
<h2> <%= opportunity.title %> </h2>
<h2> <%= opportunity.description %> </h2>
<% end %>
