<h1> <%= @opportunity.title %> </h1>
<h2> <%= @opportunity.description %> </h2>


<!-- Application form goes here -->
<%= link_to("Apply to this Opportunity", applications_path(@user.application)) %>
